@charset 'utf-8';
body {
  background: #F6F6F6;
}
.jd {
  max-width: 10rem;
  margin: auto;
}
/*开始 搜索*/
.search-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  height: 39px;
  background: rgba(255, 0, 0, 0.8);
  line-height: 38px;
}
.search-wrap form {
  position: relative;
  flex: 1;
  margin: 0 0.15625rem;
}
.search-wrap form:after {
  content: '';
  position: absolute;
  top: 0.203125rem;
  left: 10px;
  width: 18px;
  height: 14px;
  background: url('../images/00-search/1.png') no-repeat center / cover;
}
.search-wrap form .iconfont {
  position: absolute;
  top: 0;
  left: 0.46875rem;
  font-size: 0.28125rem;
  font-weight: bold;
  color: #ccc;
}
.search-wrap form input {
  width: 100%;
  height: 28px;
  border-radius: 50px;
  text-indent: 0.78125rem;
}
.search-wrap .login {
  flex: none;
  margin-right: 0.15625rem;
  color: #fff;
}
/* 开始  轮播图*/
.swiper-container {
  height: 4.875rem;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
/*枫叶器*/
.swiper-pagination {
  bottom: 0.078125rem !important;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 0.0625rem;
  height: 0.0625rem;
  background: transparent;
  border: 1px solid #fff;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
/*开始 导航*/
.nav-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.2109375rem;
}
.nav-wrap a {
  width: 20%;
  padding: 0.03125rem 0 0.109375rem 0;
  text-align: center;
}
.nav-wrap img {
  width: 29px;
  height: 29px;
}
.nav-wrap span {
  display: block;
  font-size: 0.21875rem;
}
/* 开始  圣诞抽奖*/
.christmas .c-top {
  height: 1.453125rem;
  background: url('../images/03-christmas/1.png') no-repeat center / cover;
}
.christmas .c-bott {
  position: relative;
  height: 4.015625rem;
  background: url('../images/03-christmas/2.png') no-repeat center / cover;
}
.christmas .c-bott .b-content-box {
  position: absolute;
  left: 50%;
  margin-left: -3.1953125rem;
  top: 0.46875rem;
  height: 2rem;
  width: 6.390625rem;
}
.christmas .c-bott .b-content-box > a {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.53125rem;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
  font-size: 0.28125rem;
  text-align: center;
  color: #fff;
  line-height: 0.53125rem;
}
.christmas .c-bott .b-content {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  border-radius: 0.078125rem;
  border-radius: 6px;
}
.christmas .c-bott .b-content > div {
  overflow: hidden;
  width: 2.03125rem;
  height: 2rem;
  background-color: #fff;
}
.christmas .c-bott .b-content > div img {
  width: 100%;
  height: 100%;
}
/*开始 京东快报*/
.news-wrap {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 0.15625rem;
  margin: 0 0.078125rem 0.15625rem 0.078125rem;
  background-color: #fff;
  border-radius: 0.046875rem;
  font-size: 0.203125rem;
}
.news-wrap .left {
  width: 1.140625rem;
  height: 0.25rem;
}
.news-wrap .left img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.news-wrap .news-banner {
  overflow: hidden;
  flex: 1;
  height: 0.46875rem;
}
.news-wrap .news-banner a {
  display: block;
  height: 0.46875rem;
  line-height: 0.46875rem;
}
.news-wrap .news-banner a span {
  margin: 0 0.078125rem;
  color: red;
}
.news-wrap .right {
  border-left: 1px solid #666;
  padding-left: 0.15625rem;
}
/*开始 秒杀京东*/
.spike-wrap {
  overflow: hidden;
  background-color: #fff;
}
.s-title {
  display: flex;
  padding: 0 0.078125rem;
  align-items: center;
  height: 34px;
}
.s-title .left {
  width: 1.078125rem;
  height: 0.421875rem;
}
.s-title > span {
  font-weight: bold;
  margin: 0 0.15625rem;
}
.s-title img {
  width: 100%;
  height: 100%;
}
.s-title .time {
  flex: 1;
  display: flex;
}
.s-title .time > div {
  width: 0.28125rem;
  height: 0.25rem;
  border: 1px solid #ddd;
  font-size: 0.1875rem;
  line-height: 0.25rem;
  text-align: center;
}
.s-title .right {
  color: red;
  font-size: 0.1875rem;
}
.swiper-container-2 .swiper-slide {
  height: 3.25rem;
  text-align: center;
}
.swiper-container-2 .swiper-slide img {
  width: 2.390625rem;
  height: 2.390625rem;
}
.swiper-container-2 .swiper-slide span {
  display: block;
  color: red;
  font-weight: bold;
  font-size: 0.25rem;
}
.swiper-container-2 .swiper-slide del {
  display: block;
  font-size: 0.1875rem;
  color: #666;
}
.common-1 {
  height: 2.96875rem;
}
.common-1 img {
  width: 100%;
  height: 100%;
}
/*开始 公共导航*/
.com-nav {
  display: flex;
  flex-wrap: wrap;
}
.com-nav > div {
  position: relative;
  background-color: #fff;
  width: 25%;
  padding: 0.15625rem 0.234375rem 0;
  box-sizing: border-box;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.com-nav > div img {
  width: 1.71875rem;
  height: 1.71875rem;
}
.com-nav > div > span {
  display: block;
  color: transparent;
  background-image: linear-gradient(to right, #FF8184, #F896E3);
  -webkit-background-clip: text;
  font-size: 0.4375rem;
}
.com-nav > div p {
  font-size: 0.3125rem;
}
/* 公共标题*/
.com-title {
  width: 5.125rem;
  height: 0.9375rem;
  margin: auto;
  background: url('../images/07-com-tit/0.jpg') no-repeat center / cover;
}
.com-nav-1 > div.com-50 {
  width: 50%;
}
.com-nav-1 > div.com-50 img {
  float: right;
}
/*公共轮播*/
.com-banner {
  vertical-align: center;
  overflow: hidden;
}
.swiper-container-3 {
  width: 9.53125rem;
  height: 2.65625rem;
}
.swiper-container-3 .swiper-slide {
  top: 10px;
  width: 9.53125rem;
  height: 2.34375rem;
}
.swiper-container-3 .swiper-slide-active {
  top: 0;
  width: 9.53125rem;
  height: 2.65625rem;
}
.like-wrap .l-tit {
  display: flex;
  justify-content: center;
  margin: 0.234375rem 0;
  border-bottom: 1px solid #ccc;
}
.like-wrap .l-tit p {
  position: relative;
  z-index: 1;
  top: 0.1875rem;
  padding: 0 0.15625rem;
  background-color: #F6F6F6;
}
.like-wrap .like {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.like-wrap .like li {
  width: 4.96875rem;
  margin-bottom: 0.0625rem;
  background-color: #fff;
  font-size: 13px;
}
.like-wrap .like li img {
  width: 100%;
}
.like-wrap .like li p {
  padding: 0 0.078125rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
}
.like-wrap .like li > span {
  display: block;
  height: 0.390625rem;
  padding: 0 0.078125rem;
  font-size: 0.25rem;
  color: red;
  line-height: 0.390625rem;
}
.like-wrap .like li > div {
  padding: 0 0.078125rem 0.15625rem;
}
.like-wrap .like li > div span {
  font-size: 10px;
}
.like-wrap .like li > div a {
  float: right;
  border: 1px solid #666;
  color: #666;
}
/*开始  底部*/
.btn-wrap a {
  display: block;
  height: 30px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
}
.j-footer .login {
  text-align: center;
  padding: 20px 0;
}
.j-footer .login a {
  display: inline-block;
  padding: 0 0.3125rem;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
}
.login a + a {
  border-left: 1px solid #666;
}
.app-wrap {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
}
.app-wrap a {
  flex: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 1.65625rem;
  height: 69px;
  text-align: center;
}
.app-wrap a i {
  display: block;
  width: 40px;
  height: 36px;
  background: url('../images/jd-sprites.png') no-repeat 3px -70px;
  background-size: 200px 200px;
  vertical-align: middle;
}
.app-wrap a span {
  display: block;
}
.copy {
  font-size: 0.15625rem;
  height: 37px;
  padding-bottom: 50px;
  line-height: 37px;
  text-align: center;
}
.footer-wrap {
  position: fixed;
  z-index: 9;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 54px;
  box-shadow: 0 0 10px #666;
  background-color: #fff;
}
.footer-wrap a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-wrap a img {
  width: 70px;
  height: 53px;
}
